services:
  openclaw-gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        OPENCLAW_INSTALL_BROWSER: 1
    environment:
      HOME: /home/node
      TERM: xterm-256color
    volumes:
      - /docker/clawdbot/config:/home/node/.openclaw
      - /docker/clawdbot/workspace:/home/node/openclaw/workspace
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
        "${OPENCLAW_GATEWAY_BIND:-lan}",
        "--port",
        "18789",
        "--allow-unconfigured",
      ]
    labels:
      - traefik.enable=true
      - traefik.http.routers.clawdbot.rule=Host(`clawdbot.tenawalcott.com`)
      - traefik.http.routers.clawdbot.entrypoints=websecure
      - treafik.http.routers.clawdbot.service=clawdbot
      - traefik.http.services.clawdbot.loadbalancer.server.port=18789
